@model supermarketFrontEnd.Models.Category


@{
    ViewBag.Title = "Create a category";
    ViewBag.PageTitle = "Create a category";
    ViewBag.PageSubTitle = "Category Form";

}


@section BreadCrumbs{

    <li class="breadcrumb-item">
        @Html.ActionLink("Dashboard", "Dashboard", "Home")
    </li>
    <li class="breadcrumb-item">
        @Html.ActionLink("Categorys List", "Index", "Categorys")
    </li>
    <li class="breadcrumb-item">
        <a href="#">@ViewBag.Title</a>
    </li>
}


<div class="card">
    <div class="card-header">
        <h5>@ViewBag.Title</h5>

        <span>Category form</span>
    </div>
    <div class="card-block table-border-style">

        @using (Html.BeginForm("Create", "Categories", FormMethod.Post, htmlAttributes: new { @class = "" }))
        {
            @Html.AntiForgeryToken()




            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-12" })
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>


            



            <div class="form-group mb-2">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        }


        <hr class="mt-3" />
        <div class="d-flex justify-content-start">
            <a href="@Url.Action("Index")" class="btn btn-sm btn-outline-dark">
                <i class="fa fa-list-ol"></i>
                Back to List
            </a>
        </div>

    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


